
/* body{
    background-color: var(--dark-color);
    font-family: 'Poppins',sans-serif;
    color: white;

} */

:root{
    --primary-color:#45a29e;
    --secondary-color:#66fcf1;
    --dark-color-2:#002240;
    --light-color:#c5c6c7;
    --dark-color:#0b0c10;
    --error-color:#1f2833;
}
.jumbonormal{
    font-size: 1rem;
}
.jumbomid{
    font-size: 1.5rem;
}
.jumbol{
    font-size: 2rem;
}
.jumboxl{
    font-size: 2.5rem;
}
.jumboxxl{
    font-size: 2.5rem;
}



/* Landing */
.landing{
    /* background-color: var(--light-color); */
    position: absolute;
    width: auto;
    height: auto;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}
.landing h1{
    background-color: transparent;

}
.landing a{
    align-items: flex-end;
    justify-content: center;
    border: 2px solid;
    color: var(--light-color);
    
}

/* .landing a:hover{
background-color: var(--secondary-color);
} */

.namespan{
    color: var(--secondary-color);
}
.landing a,i{
    pointer-events: visible;
    outline: visible;
}

/* .btn:hover{ */
    /* color:var(--dark-color); */
    /* background-color:var(--secondary-color);
    outline: none; */
/* } */
.btn{
    transition:  background-color 1.3s ease-out;
    position: relative;
    left:30%;
    padding:5px;
    border-radius: 5px;

}

.btn:hover{
    background-color:var(--secondary-color);    
    transition-delay:0.1s;
    text-decoration: none;
    color: var(--dark-color-2);
    border-color: var(--secondary-color);
}

.container{
    display: flex;
    height: 100vh;
    /* background-color: var(--light-color); */
    background-color: #ffff00;
}
.cover{
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.changeicon{
    margin: 5px;
    animation: infinite-spinning 0.5s ease-out 0s forwards normal;
}
/* i:hover{
    transform: rotateY(90)
}
.btn:hover > .changeicon i {
  
  transform:rotate(45)
  
} */
/* .changeicon > i:hover {
    background-color: pink;
    animation: infinite-spinning 0.5s ease-out 0s forwards normal;
} */

/* i:hover {  
    /* -webkit-animation: infinite-spinning 1s ease-out 0s  normal; */
    /* animation: infinite-spinning 0.5s ease-out 0s forwards normal; */

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

