:root{
    --primary-color:#45a29e;
    --secondary-color:#66fcf1;
    --dark-color-2:#002240;
    --light-color:#c5c6c7;
    --dark-color:#0b0c10;
    --error-color:#1f2833;
}

body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#nav-section{
    /* animation: 1 nav-loading ease-in 0 ; */
      animation: 5 nav-loading  ease-in 0 forwards normal;
}

.navbarlist .container{
    width: 90vw;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color:var(--dark-color) ;
}

.navbarlist{
    width: 100vw;
    height: 50px;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    border-bottom: 3px solid var(--primary-color);
    z-index: 100;
}


.sticky {
    width: 100vw;
    height: 50px;
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    border-bottom: 3px solid var(--primary-color);
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
  }

    
.navbarlist ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.container ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.hide{
    position: absolute;
    top:0
}


    ul{
        list-style: none;
    }
    li{
        margin: 10px 20px ;
        padding: 5px;
        text-decoration: none;
    }
    ul li a {
color: var(--secondary-color);
    }
    ul li a:hover {
        text-decoration: none;
        color:white;
        transform :scale(1.5);
        transition : 0.7 ease-in;
    }
    ul li a:active {
        text-decoration: none;
    }

    @keyframes nav-loading {
        from {
          transform: translateY(0);
        }
        to {
          transform: translateY(100);
        }
      }

