@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --primary-color:#45a29e;
    --secondary-color:#66fcf1;
    --dark-color-2:#002240;
    --light-color:#c5c6c7;
    --dark-color:#0b0c10;
    --error-color:#1f2833;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*,*::before,*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

body{
    background-color: var(--light-color);
    font-family: 'Poppins',sans-serif;
    color: white;
}